:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.post-image img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.post-image img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  margin-right: 8px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  clear: both;
}

.col-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

div {
  display: block;
}

.b-striped-specs {
  margin: #1b1f23 15px 0;
}
